extend layout

block content
  .container
    h1 PSE Companies
    p
      a#add.btn.btn-default(href="/companies/add") Add new
    table.table
      thead
        tr
          th Company Name
          th Stock Symbol
          th Sector
          th Subsector
          th Listing Date
          th Current CEO
      tbody#table-body
    